[defaults]
host_key_checking = False
remote_tmp = /tmp
forks=1
inventory = ./inventory
roles_path = ./roles
deprecation_warnings=False
jinja2_native_warning=False
strategy=free

[persistent_connection]
command_timeout = 20
